body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 25px;
    margin: 100px 400px;
    background-color: hsl(215, 50%, 21%);
}

.main-img {
    width: 400px;
    border-radius: 25px;
    padding: 15px;
}